* {
  /* border: 1px yellow solid; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  transition: ease-in-out 0.25s;
}

body {
  background-color: #0f0f0f;
}

.wrapper {
  max-width: 1180px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards {
  width: 100%;
}
.title {
  font-size: 96px;
  font-weight: 300;
  margin-top: 80px;
  margin-bottom: 80px;
}
.paragraph {
  text-align: justify;
}
.game-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 60px;
}

.game-card__desc {
  width: 780px;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #242424;
  border: 2px #464646 solid;
  border-radius: 16px;
}
.game-card__desc-list {
  list-style: none;
}

.game-card:nth-child(2n) a {
  order: -1;
}
.red-text {
  color: #ff3c3c;
  text-shadow: 0px 0px 20px rgba(255, 60, 60, 0.9);
  font-weight: 500;
}

.game-card a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-card a:hover {
  transform: scale(95%);
  filter: brightness(60%);
}
.game-card__desc-title {
  font-size: 32px;
  color: #ff3c3c;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 0px 150px 0px;
  height: 350px;
  justify-content: space-between;
}
.footer__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__info-block {
  display: flex;
  flex-direction: column;
}
.footer__info-block-title {
  font-size: 36px;
  font-style: 100;
  color: #606060;
}
.footer__info-block-text {
  font-weight: 200;
  margin-top: 15px;
}
.footer__logo {
  width: 650px;
}

.footer__logo:hover {
  filter: brightness(140%);
}

.wrapper-line {
  width: 100%;
  height: 2px;
  background-color: #606060;
  margin-top: 100px;
}
/* -========================================= */
@media (max-width: 1300px) {
  .title {
    font-size: 72px;
  }
  .paragraph {
    font-size: 20px;
  }
  .wrapper {
    max-width: 900px;
  }
  .game-card__desc-list-el {
    font-size: 20px;
  }
  .game-card__img {
    height: 185px;
  }
  .game-card__desc {
    width: 550px;
    height: 220px;
  }
  .game-card__desc-title {
    font-size: 32px;
    color: #ff3c3c;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    margin-left: 100px;
    margin-right: 100px;
  }
  .game-card__desc {
    width: 515px;
  }
  .game-card__desc-title {
    font-size: 32px;
    color: #ff3c3c;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    margin-right: 50px;
    margin-left: 50px;
  }
  .game-card__desc {
    width: 500px;
    height: 200px;
  }
  .game-card__desc-title {
    font-size: 32px;
  }
}

@media (max-width: 900px) {
  .wrapper {
    margin-left: 4vw;
    margin-right: 4vw;
  }
  .title {
    font-size: 10vw;
  }
  .paragraph {
    font-size: 5vw;
  }
  .game-card__desc {
    width: 100%;
    height: 40vw;
  }
  .game-card__img {
    height: 50vw;
    margin-bottom: 5vw;
  }
  .game-card__desc-list-el {
    font-size: 4vw;
  }
  .game-card__desc-title {
    font-size: 5vw;
  }
  .game-card {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    margin-bottom: 20vw;
  }
  .game-card:nth-child(2n) a {
    order: 1;
  }
  .red-text {
    font-size: 5vw;
  }
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .footer {
    height: 103vw;
    margin: 35px 0px 35px 0px;
  }
  .footer__logo {
    margin-top: 7vw;
    width: 73vw;
  }
  .footer__info-block-title {
    font-size: 6vw;
  }
  .footer__info-block-text {
    font-size: 4vw;
  }
  .footer__info-block:nth-child(3) {
    order: 4;
  }
  .wrapper-line{
    margin-top: 0px;
  }
}
